{% extends "base.html" %}

{% block main %}
<body>
    <div class="container my-5">
        <!-- Header Section -->
        <h1 class="text-center mb-4">Books List</h1>

        <!-- Book List Section -->
        <div class="list-group">
            {% for book in books %}
            <a href="{% url 'bible_forum:book' %}?name={{ book.name }}" class="list-group-item list-group-item-action">
                <h5 class="mb-1">{{ book.name }}</h5>
            </a>
            {% endfor %}
        </div>
    </div>
</body>
{% endblock %}
