
{% extends "base.html" %}

{% block main %}
<div class="container mt-4">
    <h1 class="text-dark">Formal papers</h1>
    <div class="list-group">
        {% for formal_paper in formal_papers %}
        <div class="list-group-item mb-3">
            <h5>
                <a class="text-dark text-decoration-none" href="{% url 'dogmatics:j_reading' %}?id={{ formal_paper.id }}">
                    {{ formal_paper.preprint.title }}
                </a>
            </h5>
            <a href="{% url 'userpage:userpage' formal_paper.preprint.author.username %}" class="text-muted mb-1">Author: {{ formal_paper.preprint.author.username }}</a>
            <p>{{ formal_paper.preprint.abstract }}</p>
        </div>
        {% empty %}
        <p class="text-muted">No formal papers available.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
